

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: 000000;
    background-color: rgb(17, 16, 16);
}

.logo-text {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.work-you-love {
    padding-top: 345px;
}

.work-you-love h1 {
    position: absolute;
    color: white;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: center;
    height: 113px;
    width: 730px;
    left: 352px;
    top: 345px;
    border-radius: nullpx;

}

.work-you-love span {
    
    color: rgba(62, 233, 229, 1);

}

.work-you-love p {
    position: absolute;
    color: rgba(119, 127, 152, 1);
    height: 79px;
    width: 540px;
    left: 460px;
    top: 485px;
    border-radius: nullpx;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;




}

.work-you-love img {
    position: absolute;
    height: 377.9786071777344px;
    width: 544.3124389648438px;
    left: 451.49853515625px;
    top: 212.808837890625px;
    border-radius: 0px;
    
    mix-blend-mode: normal;
    opacity: 0.50;
}

.image-left {
  position: absolute;
  width: 408px;
  height: 459px;
  left: -56px;
  top: 274px;

}

.image-right {
    position: absolute;
    width: 396px;
    height: 444px;
    left: 1101px;
    top: 282px;
}

.boximage1 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 165px;
    top: 891px;

    background: #093F68;
    border-radius: 45px;
}

.boximage1 img {
    position: absolute;
    top: 29px;
    left: 40px;
}

.boximage2 {
position: absolute;
width: 160px;
height: 164px;
left: 450px;
top: 939px;

background: #093F68;
border-radius: 45px;

}

.boximage2 img {
    position: absolute;
    top: 40px;
    left: 40px;
}

.boximage3 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 735px;
    top: 891px;

    background: #093F68;
    border-radius: 45px;
}

.boximage4 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 1020px;
    top: 939px;

    background: #093F68;
    border-radius: 45px;
}

