

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: 000000;
    background-color: rgb(17, 16, 16);
}

.logo-text {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.work-you-love {
    padding-top: 345px;
}


.work-you-love h1 {
    position: absolute;
    color: white;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: center;
    height: 113px;
    width: 730px;
    left: 352px;
    top: 345px;
    border-radius: nullpx;

}

.work-you-love span {
    
    color: rgba(62, 233, 229, 1);

}

.work-you-love p {
    position: absolute;
    color: rgba(119, 127, 152, 1);
    height: 79px;
    width: 540px;
    left: 460px;
    top: 485px;
    border-radius: nullpx;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;




}

.work-you-love img {
    position: absolute;
    height: 377.9786071777344px;
    width: 544.3124389648438px;
    left: 451.49853515625px;
    top: 212.808837890625px;
    border-radius: 0px;
    
    mix-blend-mode: normal;
    opacity: 0.50;
}

.image-left {
  position: absolute;
  width: 408px;
  height: 459px;
  left: -56px;
  top: 274px;

}

.image-right {
    position: absolute;
    width: 396px;
    height: 444px;
    left: 1101px;
    top: 282px;
}

.boximage1 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 165px;
    top: 891px;

    background: #093F68;
    border-radius: 45px;
}

.boximage1 h3 {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 23.92%;
    top: 180px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.boximage1 p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 150.0%;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
   color: rgba(119, 127, 152, 1);
}

.boximage1 img {
    position: absolute;
    top: 29px;
    left: 40px;
}

.boximage2 {
position: absolute;
width: 160px;
height: 164px;
left: 450px;
top: 939px;

background: #093F68;
border-radius: 45px;

}

.boximage2 img {
    position: absolute;
    top: 40px;
    left: 40px;
}

.boximage2 h3 {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 23.92%;
    top: 180px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.boximage2 p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 150.0%;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: rgba(119, 127, 152, 1);
}

.boximage3 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 735px;
    top: 891px;

    background: #093F68;
    border-radius: 45px;
}

.boximage3 img {
    position: absolute;
    top: 40px;
    left: 40px;
}

.boximage3 h3 {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 23.92%;
    top: 180px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.boximage3 p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 150.0%;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: rgba(119, 127, 152, 1);
}

.boximage4 {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 1020px;
    top: 939px;

    background: #093F68;
    border-radius: 45px;
}

.boximage4 img {
    position: absolute;
    top: 40px;
    left: 32px;
}

.boximage4 h3 {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 23.92%;
    top: 180px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.boximage4 p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 150.0%;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: rgba(119, 127, 152, 1);
}

.rectangle1 {
    position: relative;
    height: 425px;
    width: 445px;
    left: 260px;
    top: 1388px;
    background: #093F68;
    border-radius: 8px;
    
}

.rectangle1 h3 {
    position: absolute;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    right: 67.42%;
    top: 30px;
    color: #FFFFFF;
    
}

.rectangle1 p {
    position: absolute;
    top: 20%;
    left: 38px;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #777F98;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(119, 127, 152, 1);
}

.rectangle1 h1 {
    position: absolute;
    left: 38px;
    right: 1.15%;
    top: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
}

ul {
    position: absolute;
    top: 241px;
    list-style: none;
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;

}
ul li:before {
    content: '✓';
    color: #3EE9E5;
    
}

.price-heading h1 {
    position: absolute;
    top: 1476px;
    left: 586px;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
}

.price-heading p {
    position: absolute;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(119, 127, 152, 1);
    width: 540px;
    top: 1544px;
    left: 450px;
    
    border-radius: nullpx;

}

.rectangle2 {
    position: relative;
    height: 445px;
    width: 449px;
    left: 735px;
    top: 955px;
    border-radius: 8px;
    border-radius: 8px;
    background: rgba(62, 233, 229, 1);
}


.rectangle {
    position: relative;
    height: 425px;
    width: 445px;
    left: 260px;
    top: 1388px;
    background: #093F68;
    border-radius: 8px;

}

.rectangle2 h3 {
    position: absolute;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    right: 67.42%;
    top: 30px;
    color: #FFFFFF;

}

.rectangle2 p {
    position: absolute;
    top: 20%;
    left: 38px;
    bottom: 0%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #33343a;
    opacity: 0.6;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    
}

.rectangle2 h1 {
    position: absolute;
    left: 38px;
    right: 1.15%;
    top: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    
}

.smaller {
   font-family: Manrope;
   font-size: 15px;
   font-style: normal;
   font-weight: 500;
   line-height: 25px;
   letter-spacing: 0px;
   text-align: left;
   color: #080C20;
   opacity: 0.6;
}

.rectangle2 ul li:before {
    content: '✓';
    color: #093F68;
}

.contact-us {
    position: absolute;
    width: 730px;
    height: 44px;
    left: 359px;
    top: 2351px;
    font-family: Manrope;
    text-align: center;
    color: #FFFFFF;
}


.email-section {
    position: relative;
    top: 1220px;
    left: 482px;
    color: white;
    
}


    


.email {
    background: rgba(9, 63, 104, 1);
    height: 48px;
    width: 320px;
    border-radius: 24px;
    color: white;
    font-family: Manrope;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    

}



.email:hover {
border: 1px solid rgba(62, 233, 229, 1);

}

.submit-text {
   color: rgba(9, 63, 104, 1);
   font-family: Manrope;
   font-size: 15px;
   font-style: normal;
   font-weight: 800;
   line-height: 25px;
   letter-spacing: 0px;
   text-align: center;
}



.submit-email {
    height: 48px;
    width: 140px;
    height: 48px;
    width: 140px;
    left: nullpx;
    top: nullpx;
    border-radius: 24px;
    background: rgba(62, 233, 229, 1);
    border-radius: 24px;
    color: rgba(9, 63, 104, 1);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}

::placeholder {
    position: absolute;
    height: 25px;
    left: 5.62%;
    right: 62.19%;
    top: calc(50% - 25px/2 + 0.5px);

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.submit-email:hover
 {
    background-color: rgb(17, 16, 16);
    color: white;
    border: 1px solid rgba(62, 233, 229, 1);
}

.empty-email-message {
    position: absolute;
    height: 25px;
    width: 251px;
    left: 20px;
    top: 52px;
    border-radius: nullpx;


    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF2965;

}
 


